@page "/"

<h1>Hello, world!</h1>

<p>
    Welcome to your new app.
</p>

<p>
</p>

<AuthorizeView>
    <Authorized>
        <p>You are logged in as @context.User.Identity?.Name</p>
        <p>Your Id is @context.User.Claims.FirstOrDefault(c => c.Type == "oid")?.Value</p>
    </Authorized>
    <NotAuthorized>
        <p>Log in please</p>
    </NotAuthorized>
</AuthorizeView>

@code{

}